@import '../../../../variables';

button {
    padding: $button-padding; 
    font-size: $base-font-size; 
    border-radius: $button-radius; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin: 20px auto; 
  
    i {
      margin-right: 8px; 
    }
  
    &.cancel-button {
      background-color: $cancel-button-background; 
      color: $text-color;  
      &:hover {
        background-color: $cancel-button-hover-background;
      }
    }
  
    &.back-button {
      background-color: $primary-color;  
      color: white;
  
      &:hover {
        background-color: $hover-color;  
      }
    }
  
    &.ok-button {
      background-color: $success-color; 
      color: white;
  
      &:hover {
        background-color: darken($success-color, 10%);  
      }
    }
  }
  